body {

  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f0f0f, #3b0a45);

  overflow: hidden;

  font-family: 'Poppins', sans-serif;

}

.container {

  position: relative;

  width: 400px;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

}

/* coração */

.heart {

  position: absolute;

  width: 250px;
  height: 250px;

  background: #ff0055;

  transform: rotate(-45deg);

  animation: pulse 1.5s infinite;

  box-shadow: 0 0 40px #ff0055;

}

.heart::before,
.heart::after {

  content: "";

  position: absolute;

  width: 250px;
  height: 250px;

  background: #ff0055;

  border-radius: 50%;

}

.heart::before {

  top: -125px;
  left: 0;

}

.heart::after {

  left: 125px;
  top: 0;

}

/* cartão */

.card {

  position: relative;

  width: 240px;
  height: 150px;

  background: rgba(255,255,255,0.12);

  border-radius: 25px;

  backdrop-filter: blur(10px);

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border: 1px solid rgba(255,255,255,0.2);

  box-shadow: 0 0 30px rgba(255,255,255,0.2);

  transition: 0.3s;

}

.card:hover {

  transform: scale(1.06);

}

.card h1 {

  color: white;

  font-size: 24px;

  text-align: center;

  padding: 10px;

}

/* mensagem */

#mensagem {

  position: absolute;

  top: calc(50% + 110px);

  width: 320px;
  max-height: 180px;

  overflow-y: auto;

  color: white;

  text-align: center;

  line-height: 1.6;

  opacity: 0;

  font-family: 'Great Vibes', cursive;

  font-size: 28px;

  transition: opacity 1s ease;

  z-index: 3;

}

/* mostrar mensagem */

#mensagem.show {

  opacity: 1;

}

/* animação */

@keyframes pulse {

  0% {
    transform: rotate(-45deg) scale(1);
  }

  50% {
    transform: rotate(-45deg) scale(1.07);
  }

  100% {
    transform: rotate(-45deg) scale(1);
  }

}
